body {
	background-image: url('http://luc.devroye.org/KickstandApps-WeatherIcons-2013b.png');
}

input {
	max-width: 140px;
}

.header {
	color: black;
	max-width: 100%;
	min-width: 20%;
	max-height: 50%;
	margin: 50px auto;
	background-image: url('http://3.bp.blogspot.com/-HLVjZgs3wM8/VcmJal9VahI/AAAAAAAAg-k/KL2MjKIhC7c/s1600/cloud-question-mark-710x345.jpg');
	background-size: cover; 
	border: ridge white 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.resultsWrapper {
	margin: 0px auto;
	padding: 20px;
}
.dispTempF {
	padding: 5px;
	border-radius: 5%;
}
#radar {
	  border: 5px solid black;
    display: block;
    width: 50%;
    float: left;
}
.weatherInfo {
	font-size: 1.5vw;
  margin-top: -25px;
	padding: 20px;
	padding-left: 40px;
	float: right;
	width: 50%;
}
#webcam {
	max-width: 65%;
}

.container {
	background-color: rgba(186, 28, 23, 0.8);
	border: groove white 10px;
	padding-bottom: 20px;
}
.individual {
	border: solid;
  margin-top: 2px;
  background: white;
}
.currentInfo {
	border: solid;
  margin-top: 2px;
  background: white;
}

@media (max-width: 600px) {

.weatherInfo {
	font-size: 4vw;
	clear: left;
  margin: 0px auto;
  display: block;
  width: 100%;
}
#radar {
	margin: 0px auto;
	width: 100%;
}
}